body {
    .row1 {
        margin-top: 100px;
    }
    .select {
        margin-left: 20px;
    }

    .div1 {
        position: absolute;
        flex: auto;
    }
    .col1 {
        left: 30px;
    }
    .div2 {
        text-align: center;
        margin-top: 100px;
    
    }

}
