.App {
  text-align: center;
  background-color: darkblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  background-color: #241d1d;
  max-width: 100%;
  min-height: 100vh;
}

.card {
  position: absolute;
  display: flex;
}

.appCont {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 3rem;
  /* Footer height */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
